@model FooterVM

<footer>
    <section id="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h4>Company</h4>
                    <ul>
                        <li><a asp-controller="About" asp-action="Index">About us</a></li>
                        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                    </ul>
                    <div class="copy"></div>
                </div>
                <div class="col-3">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a asp-controller="Shop" asp-action="Index">Men</a></li>
                        <li><a asp-controller="Shop" asp-action="Index">Women</a></li>
                        <li><a asp-controller="Shop" asp-action="Index">Accessories</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="">@Html.Raw(Model.Settings["Facebook"])</a>
                        <a href="">@Html.Raw(Model.Settings["Instagram"])</a>
                        <a href="">@Html.Raw(Model.Settings["Twitter"])</a><br />
                        <a href="">@Html.Raw(Model.Settings["Linkedin"])</a>
                        <a href="">@Html.Raw(Model.Settings["Youtube"])</a>
                        <a href="">@Html.Raw(Model.Settings["Pinterest"])</a>
                    </div>
                </div>
                <span>
                    Copyright ©2022 All rights reserved | This website is made with
                    by Emil Abdullayev
                </span>
            </div>
        </div>
    </section>
</footer>
