@model ProductUpdateVM

@{
    List<SubCategory> categories = (List<SubCategory>)ViewBag.categories;
    List<SubCategory> brands = (List<SubCategory>)ViewBag.brands;
}

<div class="container-fluid mx-5 my-3">
    <h3>Product - Update</h3>
    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <div style="display: flex; gap: 30px;">
            @foreach (var image in Model.Images)
            {
                <div>
                    <img style="border-radius: 5px; width: 150px; height: 200px; display: block;" src="~/assets/images/home/products/@image.Name" alt="product">
                    <button product-id="@image.Id" style="color: white; text-align: center; width: 100%" class="btn btn-danger"><i class="mdi mdi-delete"></i></button>
                </div>
            }
        </div>

        <div>
            <label class="my-3" asp-for="Photos">Images</label>
            <input class="form-control" asp-for="Photos">
            <span class="text-danger my-1" asp-validation-for="Photos"></span>
        </div>

        <div>
            <label class="my-3" asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger my-1" asp-validation-for="Name"></span>
        </div>

        <div>
            <label class="my-3" asp-for="Description">Description</label>
            <input class="form-control" asp-for="Description">
            <span class="text-danger my-1" asp-validation-for="Description"></span>
        </div>

        <div>
            <label class="my-3" asp-for="Price">Price</label>
            <input class="form-control" type="number" min="0" asp-for="Price">
            <span class="text-danger my-1" asp-validation-for="Price"></span>
        </div>

        <div>
            <label class="my-3" asp-for="CategoryId">Category - @Model.CategoryName</label>
            <select class="form-control" asp-for="CategoryId">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div>
            <label class="my-3" asp-for="BrandId">Brand - @Model.BrandName</label>
            <select class="form-control" asp-for="BrandId">
                @foreach (var brand in brands)
                {
                    <option value="@brand.Id">@brand.Name</option>
                }
            </select>
        </div>

        <label class="my-3" asp-for="Size">Size</label><br />

        <div style="display: flex; gap: 15px;">
            @foreach (var size in Model.SizeName)
            {
                <tr>
                    <td>
                        <p>@size.SubCategory.Name</p>
                    </td>
                </tr>
            }
        </div>

        <div style="display: flex; gap: 15px;">
            @for (int i = 0; i < Model.Size.Count; i++)
            {
                <div style="font-size: 20px;">
                    <input type="checkbox" asp-for="@Model.Size[i].IsSelected" />
                    <label>@Model.Size[i].Name</label>
                </div>
                <input type="hidden" asp-for="@Model.Size[i].CategoryId" value="@Model.Size[i].CategoryId" />
                <input type="hidden" asp-for="@Model.Size[i].Name" />
                <input type="hidden" asp-for="@Model.Size[i]" />
                <input type="hidden" asp-for="@Model.Size[i].Id" />
            }
        </div>

        <a class="btn btn-danger my-3" style="color: white;" asp-controller="Product" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary my-3" style="color: white;">Create</button>
    </form>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/admin/js/custom.js"></script>
    <partial name="_ValidationPartial" />
}