@model ShopVM

@section Links{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous" />
    <link rel="stylesheet"
      href="~/assets/css/product-detail/product-detail.css" />
    <title>Product detail</title>
}

<main>
    <section id="product-detail" product-id="@Model.Product.Id">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div id="div1">
                        <div id="div3">
                            @foreach (var product in Model.Product.ProductImages)
                            {
                                <div style="width: 79.35px; height: 119px;">
                                    <img src="~/assets/images/home/products/@product.Name" />
                                </div>
                            }
                        </div>
                        <div id="div2">
                            <img id="foto"
                                 src="~/assets/images/home/products/@Model.Product.ProductImages.Where(m => m.IsMain).FirstOrDefault()?.Name" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 detail">
                    <h6>@Model.SubCategory.Name</h6>
                    <h3 class="">@Model.Product.Name</h3>
                    <h2>$@Model.Product.Price.ToString("N2")</h2>
                    <button id="addToCart" cart-id="@Model.Product.Id" class="add-btn">Add To Cart</button>
                    <h4 class="mt-3">Product Details</h4>
                    <span>
                        @Model.Product.Description
                    </span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user-comment mt-3">
                            <div class="user">
                                <div class="bg-light p-2">
                                    <div class="d-flex flex-row align-items-start">
                                        <textarea name="commentMessage" class="form-control ml-1 shadow-none textarea message"></textarea>
                                    </div>
                                    <input name="productId" type="hidden" class="product-id" value="@Model.Product.Id" />
                                    <div class="mt-2 text-right">
                                        <button class="btn btn-success btn-sm shadow-none" type="submit">Post comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="comment-description">
                        <div class="row product-comment-box">
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="user-comment mt-3">
                                    <div class="user">
                                        <div class="bg-light p-2">
                                            <span>@comment.AppUser.Name</span>
                                            <span>@comment.CreateDate.ToString("dd.MM.yyyy")</span>
                                            <div class="d-flex flex-row align-items-start">
                                                <div class="form-control ml-1 shadow-none textarea">@comment.Content</div>
                                            </div>
                                            @if (ViewBag.UserId == comment.AppUserId)
                                            {
                                                <div class="mt-2 text-right" style="width: 100%; display: flex; justify-content: end;">
                                                    <button comment-id="@comment.Id" class="btn btn-danger dlt btn-sm shadow-none">Remove</button>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b39b112ecb.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="~/assets/js/shop.js"></script>
}